
.blue-color{
    color: #4BCAFF;
    }
.header, .main, .footer{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.header-logo{
    padding-top: 63px;
    padding-bottom: 38px;
}
.header-logo-ref{
    font-size: 80px;
    color: black;
	text-decoration: none;
}
.header-logo-ref:active{
    font-size: 80px;
}
.header-nav{
    background-color: #35444F;
}
.header-nav-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header-nav-list-item{
    padding: 26px 40px 19px;
    border-left: 1px solid #FFFFFF;
}
.header-nav-list-item:hover{
    background-color: #222F3A;
}
.header-nav-list-item-link{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
}

.sidebar{
    margin-top: 48px;
    margin-right: 48px;
    border: 1px solid #000000;
    float: left;
    width: 344px;
}
.sidebar-nav-item{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 33px;
}
.sidebar-nav-item:hover{
    padding-left: 0;
    text-align: center;
    background-color: rgba(219, 219, 219, 1);
}
.sidebar-nav-item-link{
    font-size: 27px;
    color: #495863;
    text-decoration: none;
}
.main-article{
    float: left;
    margin-top: 48px;
    width: 885px;
}
.main-article-figure{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    margin-bottom: 37px;
    overflow: hidden;
}
.main-article-figure-img{
    width: 320px;
    height: 381px;
    transition: 0.3s;
}
.main-article-figure-img:hover{
    transform: scale(1.2);
}  
.main-article-text{
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 24px;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 54px;
    margin-bottom: 30px;
    background-color: rgba(95, 105, 110, .5);
    padding-top: 36px;
    padding-bottom: 36px;
}
.footer-list{
    display: flex;
    justify-content: space-between;
}
.footer-list-item{
    font-size: 28px;
    margin-right: 28px;
}
.footer-list-ref{
    text-decoration: none;
    color: #0C1927;
}
.footer-list-ref:hover{
    color: rgb(75,202,255);
}
.copyright-text{
    color: #010101;
    font-size: 24px;
}
